/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 mar 2023, 19:14:21
    Author     : manue
*/
body{
    background: pink;
    font-family: Arial, Arial, Helvetica, sans-serif;
}
